.modal-new-cont {
  padding: 1em 0.5em 0 0.5em;
}

.modal-new-head {
  text-align: center;
}

.modal-new-head-div {
  display: inline-block;
  margin-bottom: .5em;
  /*padding: 0 .125em !important;*/
  width: 32%
}

.modal-new-head-btn {
  width: 100%;
  white-space:normal !important;
}
.modal-new-dropzone-input {
position:fixed;
top:-1000;
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: scroll;;
position: absolute;
z-index: -1;
}
.modal-new-dropzone-input + label {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  display: inline-block;
  height: 300px;
  width: 100%;
  outline: 2px dashed black;
  /*outline-offset: -10px;*/
  vertical-align: middle;
  float: none;
    /*
  display: inline;
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;*/
}
/*.modal-new-dropzone-input:focus + label,
.modal-new-dropzone-input + label:hover {
    background-color: red;
}*/
/*.modal-new-dropzone-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}*/

.modal-new-span-upload {
  display: inline-block;
  /*width: 30%;*/
  vertical-align:top;
  /*vertical-align: middle;*/

}
